body {
    display: flex;
    justify-content: center;
    vertical-align: auto;
    background-image: url(saarang_with_bg.PNG); 
}
h1 {
    background-color: red;
    font-size: 100px;
    display: inline;
    position: fixed;
    font-family: admiration pains;
    border: 0px black solid;
    padding: 0px;
    height: 1em;
    line-height: 1em;
    text-align: center;
}

.header {
    display: block;
    position: fixed;
    top: 0%;
    right: 0%;
    height: 30px;

}

.header a {
    
    text-decoration: none;
    color:white;
    width: 1.1em;
    font-size: 27px;
    margin-right:5px;
    margin-left:5px;
    background-color: blueviolet;
    border-radius: 10px;
}
.header a:hover {
    background-color: green;
    color: blue;
}

li {
    display: inline;
}
pre {
    display: block;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 20%;
}


p.about {
    display: inline-block;
    background: linear-gradient(green,black,orange); 
    color: black;
    font-size: 20px;
    padding: 0px 13px 0px 13px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    color: red;
    font-family: cursive;
    border-radius: 40px;

}